<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
@media screen and (max-width: 1024px)
{
    .loupe
    {
     position: absolute;
     top: 25%;
     padding-left: 20%
    }
}

@media screen and (max-width: 430px)
{
    .loupe1
    {
     position: absolute;
     top: 65%;
     padding-left: 5%;
     margin-bottom: 5%;
   
    }
}
/*bakground card*/

=======
@import url(http://fr.allfont.net/allfont.css?fonts=garamond);
>>>>>>> 048401faf4a4a5d60eee7fceff59b9c1a3743e16

.padding, header
{
    margin: 0% !important;
    padding: 0% !important;
    
<<<<<<< HEAD
}
footer, header, .test {
    background-color:#F2F2F2;
=======
} 
footer, header, .test {
    background-color:#F2F2F2;
    font-family: 'Garamond', arial;
>>>>>>> 048401faf4a4a5d60eee7fceff59b9c1a3743e16
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

.image:hover {

    opacity :0.5 ;
    
    }
.trow
{
    height: 500px;
}
a
{ 
text-decoration:none; 
color:black;
} 
.fdblack
{
background-color: black;
}
body
{
    background-color:#F2F2F2;
}

<<<<<<< HEAD
=======
.bgnav{
  background-color:#F2F2F2;
  
}
.bord
{
  font-size: 20px;
}
>>>>>>> 048401faf4a4a5d60eee7fceff59b9c1a3743e16

li
{
    list-style: none;
}
<<<<<<< HEAD
=======
>>>>>>> DevMaelenn
=======
body
{
  font-family: 'Garamond', arial;
}
>>>>>>> 048401faf4a4a5d60eee7fceff59b9c1a3743e16
h1 {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
  }
  
<<<<<<< HEAD
<<<<<<< HEAD
  h2 {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 20px;
=======
  h2 {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 25px;
>>>>>>> 048401faf4a4a5d60eee7fceff59b9c1a3743e16
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
  }
  
  h3 {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
<<<<<<< HEAD
    font-size: 14px;
    font-style: normal;
=======
    font-size: 19px;
    font-style: normal;
    
>>>>>>> 048401faf4a4a5d60eee7fceff59b9c1a3743e16
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
  }
  
  p {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
<<<<<<< HEAD
    font-weight: 400;
=======
    font-weight: bold;
>>>>>>> 048401faf4a4a5d60eee7fceff59b9c1a3743e16
    line-height: 20px;
  }
  
  blockquote {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
  }
  
  pre {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
  }
<<<<<<< HEAD
 
  
=======
h1 {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

=======
>>>>>>> DevMaelenn
h2 {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

h3 {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

<<<<<<< HEAD
.test {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

footer {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

=======
>>>>>>> DevMaelenn
p {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

<<<<<<< HEAD
=======
@media screen and (max-width: 1024px) {
  .loupe {
    position: absolute;
    top: 25%;
    padding-left: 20%
  }
}

@media screen and (max-width: 430px) {
  .loupe1 {
    position: absolute;
    top: 65%;
    padding-left: 5%;
    margin-bottom: 5%;
  }
}

>>>>>>> DevMaelenn
body {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 540px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 540px) {

  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
<<<<<<< HEAD
@media screen and (max-width: 1024px) {
  .loupe {
    position: absolute;
    top: 25%;
    padding-left: 20%
  }
}

@media screen and (max-width: 430px) {
  .loupe1 {
    position: absolute;
    top: 65%;
    padding-left: 5%;
    margin-bottom: 5%;
  }
}
>>>>>>> aaa159bb3eb1a8cf221f1e114c5172bf6db159dd
=======

=======
.underline
{
  text-decoration: underline;
  font-weight: bold ;
  text-align: center ;
  font-size: 16px;
  padding-bottom: 2%;
}
>>>>>>> 048401faf4a4a5d60eee7fceff59b9c1a3743e16
#map { 
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%; 
<<<<<<< HEAD
}

.mapboxgl-popup { 
  max-width: 200px; 
  text-align: center; 
}

>>>>>>> DevMaelenn
=======

header {
  margin:none;
}

body {
    text-align: justify;
    margin-left: 4em;
    margin-right: 4em;
    background-color: #F2F2F2F2;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  }

  .test {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 26.4px;
      }

  .img-blog-comments{
    width: 50px;
    height: 50px;
  }

 .article-bouton-share {
    text-align: center;
    }

    .nav-item {
      font-size: 20px;
    }

    a {
      color: black;
    }
>>>>>>> blog
=======
  }
  
  .mapboxgl-popup { 
  max-width: 200px; 
  text-align: center; 
  }
  
  
>>>>>>> 048401faf4a4a5d60eee7fceff59b9c1a3743e16
