@import url(http://fr.allfont.net/allfont.css?fonts=garamond);

.padding, header
{
    margin: 0% !important;
    padding: 0% !important;
    
} 
footer, header, .test {
    background-color:#F2F2F2;
    font-family: 'Garamond', arial;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

.image:hover {

    opacity :0.5 ;
    
    }
.trow
{
    height: 500px;
}
a
{ 
text-decoration:none; 
color:black;
} 
.fdblack
{
background-color: black;
}
body
{
    background-color:#F2F2F2;
}

.bgnav{
  background-color:#F2F2F2;
  
}
.bord
{
  font-size: 20px;
}

li
{
    list-style: none;
}
body
{
  font-family: 'Garamond', arial;
}
h1 {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
  }
  
  h2 {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
  }
  
  h3 {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 14px;
    font-style: normal;
    
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
  }
  
  p {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 20px;
  }
  
  blockquote {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
  }
  
  pre {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
  }
.underline
{
  text-decoration: underline;
  font-weight: bold ;
  text-align: center ;
  font-size: 16px;
  padding-bottom: 2%;
}
#map { 
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%; 
  }
  
  .mapboxgl-popup { 
  max-width: 200px; 
  text-align: center; 
  }
  
  